# Node & Package Managers
node_modules/
functions/node_modules/
functions/lib/
npm-debug.*
yarn-debug.*
yarn-error.*
package-lock.json

# Expo & React Native
.expo/
dist/
web-build/
*.local

# Environment variables
.env*.local

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.history
.vscode/
.idea/
